/IrAppend.class
/IrBinaryExpression.class
/IrBoolean.class
/IrExpression.class
/IrFunctionCall.class
/IrInteger.class
/IrIterable.class
/IrOnwards.class
/IrString.class
/IrThrough.class
/IrUnaryExpression.class
/IrVariableExpression.class
